{% extends 'index/base.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-6" style="margin-top:20px;">
                <iframe width="600" height="395" src={{link}} frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen> </iframe>
                <button class="btn btn-danger" id="like-btn" type="submit">Like</button>
                <button class="btn btn-danger" type="submit" href="% url 'add_to_playlist' %">Add to Playlist</button>
           </div>
           
           <div class="col-1"></div>
            <div class="col-5" style="margin-top:20px;">
                <div id="noteDiv">
                    <div>
                        <h4>Notes</h4>
                    </div>
                    <form id="noteForm" method="POST" action="{% url 'note' %}">
                        {%csrf_token%}
                        <textarea name="note" id="note" cols="50" rows="20" placeholder="Take Notes "> </textarea>
                        <button type="submit" class="btn btn-danger">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <p> <h2>Your Notes:</h2></p>
        {% for n in note %}
            <li>{{ n.note }}</li>
        {% endfor %}
    </div>

{% endblock %}
